
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        background-color: #f0f0f0;
        font-family: Dana;
      }
      @font-face {
        font-family: "Dana";
        src: local("Dana"), url(../fonts/Dana/woff2/DanaFaNum-Regular.woff2);
        font-display: swap;
      }
    
      @font-face {
        font-family: "Dana Madium";
        src: local("Dana Madium"), url(../../src/fonts/Dana/woff2/DanaFaNum-Medium.woff2);
        font-display: swap;
      }
    
      @font-face {
        font-family: "Dana DemiBold";
        src: local("Dana Bold"), url(../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2);
        font-display: swap;
      }
}
